<header>
    <span ><p id="currentDateTime"></p></span>
<table>
    <tr>
        <th> Nicole's Adoption Center</th>
        <td> <a href="/home"> <img src="https://png.pngtree.com/png-vector/20231101/ourmid/pngtree-dog-and-cat-white-backgroud-png-image_10429901.png"  alt="Dogs and cats sitting beside each other" style="width:541px;height:300px;"></a></td>
    
    </tr>
</table>
</header>