<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Nicole's Adoption Center</title>
        <link rel="stylesheet" href="styles.css"> 
    </head>

<body>
    <%- include('../views/partials/header.ejs') %>
    
    
     <div id="contentArea">   
    
    <aside>
        <ul>
            <li><a href="/home" >Home Page</a></li>
            <li><a href="/findPet">Find a Dog/Cat</a></li>
            <li><a href="/dogCare" >Dog Care</a></li>
            <li><a href="/catCare" >Cat Care</a></li>
            <li><a href="/login">Have a Pet to Give Away</a></li>
            <li><a href="/account">Create an Account</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li>
                <form id="logoutForm" action="/logOut" method="POST">
                    <br>
                    <button type="button" onclick="confirmLogout()">Log Out</button>
                </form>
            </li>           </ul>
    </aside>
    
        
    <article>
      
        <div id="contact">
            <h2>Contact Information</h2>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li><strong>Name:</strong> Nicole Koran</li>
                    <li><strong>Student ID:</strong> 40281430</li>
                    <li><strong>Email:</strong> <a href="mailto:nicolekoran4@gmail.com">nicolekoran4@gmail.com</a></li>
                </ul>
        </div>

    </article>
        </div>
  
    
        <%- include('../views/partials/footer.ejs') %>

    
    
    
    <script src="script.js"></script>
   
</body>
</html>